<div class="homePageContainer">


<div class="buttonContainerHome">
    <a href="/">Home Page</a>
    <a href="/drones">Drones List</a>
    <a href="/drones/create">Drones Create</a>
</div>




</div>



